<div class="wap-wrap" style="background-image: url('./assets/images/02/bg.jpg');">
    <div class="flower-1">
        <img src="./assets/images/02/flower01.png">
    </div>
    <div class="close-icon" (click)="back()">
        <img src="./assets/images/04/close.png">
    </div>
    <div class="flower-2">
        <img src="./assets/images/02/flower05.png">
    </div>
    <div class="flower-3">
        <img src="./assets/images/02/flower03.png">
    </div>
    <div class="flower-4">
        <img src="./assets/images/02/flower04.png">
    </div>
    <div class="logo-box">
        <img src="./assets/images/logo.png">
    </div>
    <div class="title-box">
        <img src="./assets/images/04/04_title.png">
    </div>
    <div class="sun-box">
        <img src="./assets/images/04/sun.png">
        <div class="fudai-box">
            <div class="left-box">
                <img src="./assets/images/04/04_price1.png">
            </div>
            <div class="right-box">
                <img src="./assets/images/04/04_price2.png">
            </div>
            <img src="./assets/images/04/fudai.gif" (click)="openQrcode();">
        </div>
    </div>
    <div class="result-box">
        <img alt="二维码" src="./assets/images/qrcode/{{qrcode}}" (touchstart)="saveQrcode($event)">
        <div class="text-box">
            <img src="./assets/images/04/04_sub_title.png">
            保存二维码至相册，微信扫一扫 或 搜索“SHISEIDO资生堂国际”公众号，并回复相应城市关键字，如“大阪”即可查看获奖情况
        </div>
    </div>
    <div class="mountain-box">
        <img src="./assets/images/04/mountain.png">
        <div class="content-box">
            <button type="button" class="rule-btn" (click)="openTerms();">福袋兑换须知</button>
        </div>

    </div>
</div>

<!-- <div class="mask" *ngIf="showPrize">
    <div class="content-box">
        <div class="close-btn" (click)="closeQrcode();">×</div>
        <div class="qrcode-box">
            <img alt="二维码" src="./assets/images/qrcode/{{qrcode}}" (touchstart)="saveQrcode($event)">
        </div>
        <div class="text-box">
            你已打开新年专属福袋，
            想要快快查看是否获得奖品？
            保存上方二维码至相册，微信扫一扫 或 搜索“SHISEIDO资生堂国际”公众号，并回复相应城市关键字，如“大阪”即可查看获奖情况
        </div>
    </div>
</div> -->

<div class="mask" *ngIf="showRule">
    <div class="content-box">
        <div class="close-btn" (click)="closeTerms()">×</div>
        <div class="rule-title">
            福袋兑换须知
        </div>
        <div class="rule-box">
            <p>参与“资生堂国际邀你解锁新年福地”活动，必须同意并遵守以下条款细则：</p>
            <br>
            <p>活动时间：即日起至2月28日</p>
            <p>“新年福袋”活动奖品&数量：</p>
            <p>1. 5元话费【10000个名额】，数量有限，随机抽取。活动结束后，于10个工作日内充值到用户SHISEIDO资生堂国际会员卡的绑定手机号。</p>
            <p>2. 资生堂新红妍肌活精华露 50ml 【10个名额】，数量有限，随机抽取。活动结束后，于30个工作日内通过快递寄送产品至SHISEIDO资生堂国际会员卡的绑定地址。</p>
            <p>3.
                总额5,000元以内日本指定城市（东京、大阪、名古屋、横滨、京都，其中之一）往返机票【5个名额】数量有限，随机抽取。活动结束后，工作人员将于5个工作日内与您进行联系，将有专人安排后续订票事宜，请确保SHISEIDO资生堂国际会员卡的绑定手机号真实有效。</p>
            <br>
            <p>福袋奖品领取：</p>
            <p>1. 同一会员在活动时间段内在各平台仅可兑取1次福袋，奖品无论在任何情况下不得兑现或出售</p>
            <br>
            <p>免责：</p>
            <p>1. 资生堂有权取消疑似欺骗行为的参与者。第三方或冒充多个账户参与的人将被取消资格。</p>
            <p>2. 参与“资生堂国际邀你解锁新年福地”活动的参与者默认同意以上任何条款。任何违反这些条款或者有欺骗行为的参与者视为无效参加</p>
            <br>
            <p>* 点击“会员尊享”-“加入会员”-“会员信息”，即可修改SHISEIDO资生堂国际会员卡绑定手机号</p>
            <p>* 如有任何问题请至SHISEIDO资生堂国际官方微信公众号内留言与我们联系</p>
            <p>* 了解SHISEIDO资生堂的隐私政策全部内容，请前往SHISEIDO资生堂官方网站：</p>
            <a href="https://m.shiseido.com.cn/index.php/article-85.html" style="word-break: break-word;">https://m.shiseido.com.cn/index.php/article-85.html
            </a>
            <p>* 本活动最终解释权归资生堂（中国）投资有限公司所有</p>
        </div>
    </div>
</div>