@import "../../../assets/scss/util.scss";

.wap-wrap {
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;

    .flower-1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
        z-index: 2;
    }

    .close-icon {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 25px;
        height: 25px;
        z-index: 2;
    }

    .flower-2 {
        position: absolute;
        right: 0;
        top: 40px;
        width: 25%;
        z-index: 2;
    }

    .flower-3 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20%;
        z-index: 2;
    }

    .flower-4 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20%;
        z-index: 2;
    }

    .logo-box {
        padding: 16px;

        img {
            width: px2rem(55px);
            margin: 0 auto;
        }
    }

    .title-box {
        padding-bottom: 10px;

        img {
            width: px2rem(80px);
            margin: 0 auto;
        }
    }

    @media screen and (min-height: 700px) {
        .logo-box {
            padding: 50px 16px;
        }
    }

    .sun-box {
        position: relative;

        img {
            width: px2rem(100px);
            margin: 0 auto;
        }

        @media screen and (max-height: 480px) {
            img {
                width: px2rem(95px);
            }
        }

        .fudai-box {
            position: absolute;
            top: px2rem(-10px);
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;

            img {
                width: px2rem(120px);
                max-height: 150% !important;
            }

            .left-box {
                position: absolute;
                top: 25%;
                left: 15%;
                img {
                    width: px2rem(35px);
                }
            }

            .right-box {
                position: absolute;
                top: 25%;
                right: 15%;
                img {
                    width: px2rem(35px);
                }
            }

            @media screen and (min-width: 768px) {
                .left-box{
                    left: 25%;
                }

                .right-box{
                    right: 25%;
                }
            }
        }
    }

    .result-box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 16px 10%;
        z-index: 5;

        img {
            width: px2rem(40px);
        }

        .text-box {
            img {
                width: px2rem(65px);
                margin-bottom: 5px;
            }

            font-size: 12px;
            color: rgba(255, 255, 255, 0.9);
            padding-left: 10px;
            line-height: px2rem(8px);
        }
    }

    @media screen and (min-width: 768px) {
        .result-box {
            padding: 16px 20%;
        }
    }

    .mountain-box {
        position: relative;
        z-index: 1;

        img {
            width: 70%;
            margin: 0 auto;
        }

        .content-box {
            position: absolute;
            left: 0;
            right: 0;
            top: 30%;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .rule-btn {
            // width: 100px;
            padding: 3px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #F69500;
            border-left: 0;
            border-right: 0;
            border-top: 2px solid #F69500;
            border-bottom: 2px solid #F69500;
            background-color: transparent;
            letter-spacing: 2px;

            &:active {
                background-color: rgba(146, 31, 36, 0.2);
            }
        }
    }
}

@keyframes showModal {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    // .qrcode-bg {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;

    //     img {
    //         width: 100%;
    //         height: 100%;
    //         opacity: 0;
    //     }
    // }

    .content-box {
        position: relative;
        width: px2rem(130px);
        height: px2rem(200px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: px2rem(10px);
        animation: showModal .8s ease-in-out;
    }

    .close-btn {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 30px;
        height: 30px;
        font-size: 35px;
        line-height: 30px;
        text-align: center;
        color: #861E25;
        cursor: pointer;
    }

    .qrcode-box {
        width: 180px;

        // margin-top: 100px;

        img {
            width: 100%;
        }
    }

    .text-box {
        margin-top: 16px;
        padding: 0 25px;
        text-align: center;
    }

    .rule-title {
        position: absolute;
        top: 0;
        left: 50px;
        right: 50px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .rule-box {
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 5px;
        right: 5px;
        padding: 10px;
        overflow-y: auto;
    }
}
