@import "../../../assets/scss/util.scss";

.lottery-box {
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;

    .border-left-box {
        position: absolute;
        top: 20%;
        left: 20px;
        height: 60%;
        display: flex;
        flex-direction: column;

        .top-box {
            flex: 1;
            border-left: 1px solid rgba(212, 148, 40, 0.5);

            .border-box {
                height: 50%;
                border-left: 2px solid rgba(212, 148, 40, 0.5);
            }
        }
    }

    .border-right-box {
        position: absolute;
        top: 10%;
        right: 20px;
        height: 60%;
        display: flex;
        flex-direction: column;

        .top-box {
            flex: 1;
            border-right: 1px solid rgba(212, 148, 40, 0.5);
        }

        .center-box {
            position: relative;
            padding: 10px 0;
            width: 10px;
            right: -5px;
        }
    }

    .flower-1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
    }

    .flower-2 {
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
    }

    .flower-3 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20%;
    }

    .flower-4 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20%;
    }

    .logo-box {
        padding: 16px;

        img {
            width: px2rem(55px);
            margin: 0 auto;
        }
    }

    .text-box {
        padding-bottom: 16px;

        img {
            width: px2rem(75px);
            margin: 0 auto;
        }
    }

    .sun-box {
        position: relative;

        img {
            width: px2rem(110px);
            margin: 0 auto;
        }

        .lucky-draw-gif {
            position: absolute;
            top: px2rem(8px);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: px2rem(43px);
            }
        }

        .lucky-draw {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: px2rem(22px);
            }

            .tag-box {
                position: absolute;
                top: 16%;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: px2rem(13px);
                }
            }

            @keyframes showModal {
                from {
                    transform: scale(0.1);
                }

                to {
                    transform: scale(1);
                }
            }

            .tag-absolute {
                img {
                    width: 80%;
                    margin: 0;
                    animation: showModal 0.8s linear;
                }
            }
        }
    }

    .gesture-box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: px2rem(18px);
        }
    }

    @media screen and (max-height: 480px) {
        .sun-box {
            padding-top: 0;
        }

        .gesture-box {
            img {
                width: px2rem(20px);
            }
        }

        .mountain-box {
            img {
                width: 70%;
                margin: 0 auto;
            }
        }
    }

    @media screen and (min-height: 700px) {
        .logo-box {
            padding: 50px 16px 50px 16px;
        }

        .gesture-box {
            img {
                width: px2rem(30px) !important;
            }
        }
    }

    .mountain-box {
        img {
            width: 65%;
            margin: 0 auto;
        }
    }
}

@keyframes showModal {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

.lottery-poetry-box {
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation: showModal .8s ease-in-out;

    .poetry-box {
        position: absolute;
        top: 16px;
        bottom: 16px;
        left: 16px;
        right: 16px;
        background-color: #FDFDFD;

        .red-logo {
            width: 100%;
            height: 25px;
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 55px;
            }
        }
    }

    @media screen and (min-height: 700px) {
        .poetry-box {
            top: 80px;
            bottom: 80px;
        }
    }

    @media screen and (min-width: 768px) {
        .poetry-box {
            position: absolute;
            top: 10%;
            bottom: 10%;
            left: 134px;
            right: 134px;
            max-width: 500px;
        }
    }

    .info-box {
        position: absolute;
        top: 25px;
        bottom: 25px;
        left: 25px;
        right: 25px;
        display: flex;
        flex-direction: column;

        .border-top-box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: flex;

            .left-box {
                flex: 1;
                border-top: 1px solid #AB242A;
            }

            .right-box {
                width: px2rem(10px);
                height: px2rem(10px);
                position: relative;

                img {
                    width: 10px;
                    position: absolute;
                    right: -5px;
                    top: -5px;
                }
            }
        }

        .border-left-box {
            position: absolute;
            top: 1px;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;

            .top-box {
                flex: 1;
                border-left: 1px solid #AB242A;

                .border-box {
                    height: 25%;
                    border-left: 2px solid #AB242A;
                }
            }

            .center-box {
                position: relative;
                padding: 10px 0;
                width: 10px;
                left: -5px;
            }

            .bottom-box {
                height: 15%;
                border-left: 1px solid #AB242A;
            }
        }

        .border-right-box {
            position: absolute;
            top: px2rem(10px);
            bottom: 0;
            right: 0;
            border-right: 1px solid #AB242A;
        }

        .border-bottom-box {
            position: absolute;
            left: 1px;
            bottom: 0;
            right: 1px;
            border-bottom: 1px solid #AB242A;
        }

        .map-box {
            position: relative;
            width: 100%;
            padding: 10px;

            .bg-img {
                width: 100%;
                height: 100%;
            }

            #pointer-tag {
                display: none;
                position: absolute;
                width: 60px;
                animation: bounce-up 2s linear infinite;
            }

            .city-1 {
                .plane-box {
                    left: 25%;
                    top: 60%;
                }

                .lucky-bag {
                    left: 65%;
                    top: 20%;
                }

                .position-box {
                    left: 10%;
                    top: 30%;
                }
            }

            .city-2 {
                .plane-box {
                    left: 50%;
                    top: 65%;
                }

                .lucky-bag {
                    left: 3%;
                    top: -5%;
                }

                .position-box {
                    left: 70%;
                    top: 55%;
                }
            }

            .city-3 {
                .plane-box {
                    left: 85%;
                    top: 65%;
                }

                .lucky-bag {
                    left: 35%;
                    top: -10%;
                }

                .position-box {
                    left: 22%;
                    top: 35%;
                }
            }

            .city-4 {
                .plane-box {
                    left: 0;
                    top: 43%;
                }

                .lucky-bag {
                    left: 50%;
                    top: 53%;
                }

                .position-box {
                    left: 48%;
                    top: 28%;
                }
            }

            .city-5 {
                .plane-box {
                    left: 60%;
                    top: 70%;
                }

                .lucky-bag {
                    left: 10%;
                    top: -10%;
                }

                .position-box {
                    left: 80%;
                    top: 30%;
                }
            }

            .plane-box {
                position: absolute;
                width: 35px;
                height: 35px;
            }

            @-webkit-keyframes twinkling {
                0% {
                    transform: scale(0.8);
                }

                100% {
                    transform: scale(1);
                }
            }

            .lucky-bag {
                position: absolute;
                width: 130px;
                height: 130px;
                animation: twinkling 1.5s linear infinite;
            }

            .position-box {
                position: absolute;
                width: 30px;
                height: 30px;

                // animation: bounce-up 1.4s linear infinite;
           
            }

            @keyframes bounce-up {
                25% {
                    transform: translateY(10px);
                }

                50%, 100% {
                    transform: translateY(0);
                }

                75% {
                    transform: translateY(-10px);
                }
            }
        }

        .poetry-info-box {
            flex: 1;
            position: relative;

            .img-box {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 0 16px 16px 50px;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}

.lottery-stores-box {
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }

    .stores-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .top-img {
            padding: 16px;

            img {
                width: 80%;
                margin: 0 auto;
            }
        }

        .content-box {
            position: relative;
            flex: 1;
            width: 100%;

            .absolute-box {
                position: absolute;
                top: 20px;
                bottom: 0;
                left: 8%;
                right: 8%;

                .scroll-content {
                    position: absolute;
                    top: 20px;
                    bottom: 1px;
                    left: 0;
                    right: 1px;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 3px;
                        background-color: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }

                .weui-grids:before, .weui-grids:after, .weui-grid:before, .weui-grid:after {
                    border: 0;
                }

                .weui-grids {
                    margin: 0 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }

                .weui-grids:last-child {
                    border-bottom: 0;
                }

                .weui-grid {
                    padding: 5px 8px;
                    text-align: center;
                    word-break: break-word;
                    color: rgba(255, 255, 255, 0.6);
                }

                .weui-grid:active {
                    background-color: transparent;
                }

                .border-top-box {
                    display: flex;

                    .left-box {
                        border-top: 1px solid rgba(255, 255, 255, 0.5);
                        flex: 1;
                    }

                    .center-box {
                        width: px2rem(55px);
                        height: px2rem(30px);
                        padding: 0 10px;
                        margin-top: px2rem(-15px);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .select-box {
                            position: relative;
                            width: 100%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-right: 16px;

                            &::after {
                                content: '';
                                width: 0;
                                height: 0;
                                border-left: 4px solid transparent;
                                border-right: 4px solid transparent;
                                border-top: 8px solid #ddd;
                                position: absolute;
                                top: calc(50% - 4px);
                                right: 0;
                            }
                        }
                    }

                    .right-box {
                        border-top: 1px solid rgba(255, 255, 255, 0.5);
                        flex: 1;
                    }
                }

                .border-left-box {
                    position: absolute;
                    top: px2rem(10px);
                    bottom: 1px;
                    left: 0;
                    display: flex;
                    flex-direction: column;

                    .top-box {
                        height: 15%;
                        border-left: 1px solid rgba(255, 255, 255, 0.5);
                    }

                    .center-box {
                        position: relative;
                        padding: 10px 0;
                        width: 10px;
                        left: -5px;
                    }

                    .bottom-box {
                        flex: 1;
                        border-left: 1px solid rgba(255, 255, 255, 0.5);
                        display: flex;
                        align-items: flex-end;

                        .border-box {
                            height: 25%;
                            border-left: 2px solid rgba(255, 255, 255, 0.5);
                        }
                    }
                }

                .border-right-box {
                    position: absolute;
                    top: px2rem(10px);
                    bottom: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;

                    .top-box {
                        flex: 1;
                        border-right: 1px solid rgba(255, 255, 255, 0.5);

                        // .border-box {
                        //     height: 50%;
                        //     border-right: 2px solid rgba(255, 255, 255, 0.5);
                        // }
                   
                    }

                    .bottom-box {
                        width: px2rem(10px);
                        height: px2rem(10px);

                        img {
                            width: 10px;
                            position: absolute;
                            right: -5px;
                            bottom: -5px;
                        }
                    }
                }

                .border-bottom-box {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: px2rem(10px);
                    display: flex;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }
            }
        }

        .bottom-logo {
            padding: 16px;

            img {
                width: px2rem(40px);
            }
        }
    }
}

.shake-btn {
    width: 30px;
    position: absolute;
    left: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    letter-spacing: 1px;
    color: #C53234;
    writing-mode: tb-rl;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid #AB242A;
    border-right: 1px solid #AB242A;
    background-color: transparent;

    &:active {
        background-color: rgba(146, 31, 36, 0.2);
    }
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50% {
        transform: translate3d(-5px, 0, 0);
    }

    20%,
    40%,
    60% {
        transform: translate3d(5px, 0, 0);
    }

    70%,
    80%,
    90%,
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.shake {
    animation: shake 3s infinite;
}
