<div class="wap-wrap">
    <div class="lottery-box" style="background-image: url('./assets/images/02/bg.jpg');">
        <div class="border-left-box">
            <div class="top-box">
                <div class="border-box"></div>
            </div>
        </div>
        <div class="border-right-box">
            <div class="top-box"></div>
            <div class="center-box">
                <img src="./assets/images/01/gold_four_points.png">
            </div>
        </div>
        <div class="flower-1">
            <img src="./assets/images/02/flower01.png">
        </div>
        <div class="flower-2">
            <img src="./assets/images/02/flower02.png">
        </div>
        <div class="flower-3">
            <img src="./assets/images/02/flower03.png">
        </div>
        <div class="flower-4">
            <img src="./assets/images/02/flower04.png">
        </div>
        <div class="logo-box">
            <img src="./assets/images/logo.png">
        </div>
        <div class="text-box">
            <img src="./assets/images/02/title.png">
        </div>
        <div class="sun-box">
            <img src="./assets/images/02/sun.png">
            <div class="lucky-draw" *ngIf="!isShake">
                <img src="./assets/images/02/lucky_draw.png">
                <div class="tag-box">
                    <img src="./assets/images/02/tag.png">
                </div>
                <!-- <div class="tag-box" id="tag-absolute">
                    <img src="./assets/images/02/tag.png">
                </div> -->
            </div>
            <div class="lucky-draw-gif" *ngIf="isShake">
                <img src="./assets/images/02/lucky_draw.gif">
            </div>
        </div>
        <div class="gesture-box">
            <img class="shake" src="./assets/images/02/gesture.png" (click)="toShare();">
        </div>
        <div class="mountain-box">
            <img src="./assets/images/02/mountain.png">
        </div>
    </div>
    <div class="lottery-poetry-box" *ngIf="showLotteryPoetry" style="background-image: url('./assets/images/03/bg.jpg');">
        <div class="poetry-box">
            <div class="red-logo">
                <img src="./assets/images/03/logo_red.png">
            </div>
            <div class="info-box">
                <div class="border-top-box">
                    <div class="left-box"></div>
                    <div class="right-box">
                        <img src="./assets/images/03/red_one_point.png">
                    </div>
                </div>
                <div class="border-left-box">
                    <div class="top-box">
                        <div class="border-box"></div>
                    </div>
                    <div class="center-box">
                        <img src="./assets/images/03/red_four_points.png">
                    </div>
                    <div class="bottom-box"></div>
                </div>
                <div class="border-right-box"></div>
                <div class="border-bottom-box"></div>
                <div class="map-box">
                    <img class="bg-img" src="./assets/images/03/pic0{{cityId}}.jpg">
                    <div class="city-{{cityId}}">
                        <!-- <div class="plane-box" id="plane-box">
                            <img *ngIf="cityId === 1 || cityId === 4" src="./assets/images/03/paper_crane.png">
                            <img *ngIf="cityId === 2 || cityId === 3 || cityId === 5" src="./assets/images/03/paper_crane_1.png">
                        </div> -->
                        <div class="lucky-bag" id="lucky-bag" (click)="toResult()">
                            <img src="./assets/images/03/fudai.png">
                        </div>
                        <div class="position-box" (click)="toStores()">
                            <img src="./assets/images/03/pin.png">
                        </div>
                        <div id="pointer-tag">
                            <img src="./assets/images/03/pointer.png">
                        </div>
                    </div>
                </div>
                <div class="poetry-info-box">
                    <div class="img-box">
                        <img src="./assets/images/03/text0{{cityId}}.png">
                    </div>
                </div>

                <button type="button" class="shake-btn" (click)="backShare()">再摇一次</button>
            </div>
        </div>

    </div>
    <div class="lottery-stores-box" *ngIf="showStores > 0" [ngClass]="{'weui-animate-slide-in-right': showStores === 1, 'weui-animate-slide-out-right': showStores === 2}"
        style="background-image: url('./assets/images/02/bg.jpg');">
        <div class="close-btn" (click)="closeStore();">×</div>
        <div class="stores-box">
            <div class="top-img">
                <img src="./assets/images/05/text.png">
            </div>
            <div class="content-box">
                <div class="absolute-box">
                    <div class="border-top-box">
                        <div class="left-box"></div>
                        <div class="center-box">
                            <div class="select-box" *ngIf="showStores === 1">
                                <weui-picker class="store-picker" placeholder="选择城市" [(ngModel)]="selCityId" [groups]="itemGroup"
                                    [options]="{cancel:'取消', confirm:'确定', backdrop: true}" (change)="cityChange($event)"></weui-picker>
                            </div>
                        </div>
                        <div class="right-box"></div>
                    </div>
                    <div class="border-left-box">
                        <div class="top-box"></div>
                        <div class="center-box">
                            <img src="./assets/images/05/white_four_points.png">
                        </div>
                        <div class="bottom-box">
                            <div class="border-box"></div>
                        </div>
                    </div>
                    <div class="border-right-box">

                        <div class="top-box">
                            <!-- <div class="border-box"></div> -->
                        </div>
                        <div class="bottom-box">
                            <img src="./assets/images/05/white_one_point.png">
                        </div>
                    </div>
                    <div class="border-bottom-box"></div>
                    <div class="scroll-content">
                        <div class="weui-grids" *ngFor="let store of stores">
                            <div class="weui-grid">{{ store.name }}</div>
                            <div class="weui-grid">{{ store.address }}</div>
                            <div class="weui-grid">
                                <p *ngFor="let item of store.openhours">
                                    {{ item }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-logo">
                <img src="./assets/images/logo.png">
            </div>
        </div>
    </div>
</div>