<!-- <div class="box">
    <img class="qrcode" src="./assets/images/qrcode/1-DSP-HONGKONG.jpg" alt="二维码">
    dfgdfgvdfgvgdfggdfggdgdfg
    <br>
    scsfsdvdfvdffdfgdfgd
    <br>
    dvdgvdvdvbdbggfbfgbfgbfgbfg
</div> -->

<!-- <div class="mask">
    <div class="content-box">
        <div class="close-btn">×</div>
        <div class="qrcode-box">
            <img alt="二维码" src="./assets/images/qrcode/3-DSP-HONGKONG.jpg">
        </div>
        <div class="text-box">
            <p>你已打开新年专属福袋，</p>
            <p>快快扫描上方二维码，</p>
            <p>查看你的专属福袋奖品~</p>
        </div>
    </div>
</div> -->
<!-- <img src="./assets/images/1.jpg" alt=""> -->