@import "../../../assets/scss/util.scss";
.box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;

    .qrcode {
        width: 220px;
        height: 220px;
        margin-bottom: 100px;
    }
}

@keyframes showModal {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    // .qrcode-bg {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;

    //     img {
    //         width: 100%;
    //         height: 100%;
    //         opacity: 0;
    //     }
    // }

    .content-box {
        position: relative;
        width: px2rem(130px);
        height: px2rem(200px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: px2rem(10px);
        animation: showModal .8s ease-in-out;
    }

    .close-btn {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #861E25;
        cursor: pointer;
    }

    .qrcode-box {
        width: 220px;
        // margin-top: 100px; 

        img {
            width: 100%;
        }
    }

    .text-box {
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
    }

    .rule-title {
        position: absolute;
        top: 0;
        left: 50px;
        right: 50px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .rule-box {
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 5px;
        right: 5px;
        padding: 10px;
        overflow-y: auto;
    }
}
