<div class="wap-wrap" style="background-image: url('./assets/images/01/bg.jpg');" (click)="toLottery()">
    <div class="box">
        <div class="border-top-box">
            <div class="left-box"></div>
            <div class="center-box">
                <img src="./assets/images/logo.png">
            </div>
            <div class="right-box"></div>
        </div>
        <div class="border-left-box">
            <div class="top-box">
                <div class="border-box"></div>
            </div>
            <div class="bottom-box">
                <img src="./assets/images/01/gold_one_point.png">
            </div>
        </div>
        <div class="border-right-box">
            <div class="top-box"></div>
            <div class="center-box">
                <img src="./assets/images/01/gold_four_points.png">
            </div>
            <div class="bottom-box">
                <div class="border-box"></div>
            </div>
        </div>

        <div class="border-bottom-box">
            <div class="left-box"></div>
            <div class="center-box">
                <img src="./assets/images/01/button.png">
            </div>
            <div class="right-box"></div>
        </div>
        <div class="text-img">
            <img src="./assets/images/01/text.png">
        </div>
        <div class="cat-img">
            <img src="./assets/images/01/cat.png">
        </div>
    </div>
</div>