@import "../../../assets/scss/util.scss";

.wap-wrap {
    background-size: 100% 100%;
}

.box {
    position: absolute;
    top: 30px;
    bottom: 35px;
    left: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;

    .text-img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;

        img {
            width: 70%;
        }
    }

    .cat-img {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 70%;
            margin-top: -10vh;
        }
    }

    .border-top-box {
        display: flex;

        .left-box {
            border-top: 1px solid rgba(212, 148, 40, 0.5);
            flex: 1;
        }

        .center-box {
            width: px2rem(55px);
            height: px2rem(30px);
            padding: 0 10px;
            margin-top: px2rem(-15px);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .right-box {
            border-top: 1px solid rgba(212, 148, 40, 0.5);
            flex: 1;
        }
    }

    .border-left-box {
        position: absolute;
        top: 1px;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;

        .top-box {
            flex: 1;
            border-left: 1px solid rgba(212, 148, 40, 0.5);

            .border-box {
                height: 50%;
                border-left: 2px solid rgba(212, 148, 40, 0.5);
            }
        }

        .bottom-box {
            width: px2rem(10px);
            height: px2rem(10px);
            position: relative;

            img {
                width: 10px;
                position: absolute;
                left: -5px;
                bottom: -5px;
            }
        }
    }

    .border-right-box {
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 0;
        display: flex;
        flex-direction: column;

        .top-box {
            height: 15%;
            border-right: 1px solid rgba(212, 148, 40, 0.5);
        }

        .center-box {
            position: relative;
            padding: 10px 0;
            width: 10px;
            right: -5px;
        }

        .bottom-box {
            flex: 1;
            border-right: 1px solid rgba(212, 148, 40, 0.5);
            display: flex;
            align-items: flex-end;

            .border-box {
                height: 25%;
                margin-left: 8px;
                border-right: 2px solid rgba(212, 148, 40, 0.5);
            }
        }
    }

    .border-bottom-box {
        position: absolute;
        left: px2rem(10px);
        bottom: 0;
        right: 0;
        display: flex;

        .left-box {
            border-bottom: 1px solid rgba(212, 148, 40, 0.5);
            flex: 1;
        }

        .center-box {
            width: px2rem(100px);
            // height: px2rem(30px);
            padding: 10px 10px 0 10px;
            margin-bottom: px2rem(-15px);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .right-box {
            border-bottom: 1px solid rgba(212, 148, 40, 0.5);
            flex: 1;
        }
    }
}

@media screen and (max-height: 480px) {
    .text-img {
        img {
            width: 65% !important;
        }
    }

    .cat-img {
        img {
            width: 65% !important;
        }
    }
}

@media screen and (min-height: 700px) {
    .box {
        position: absolute;
        top: 10%;
        bottom: 10%;
    }
}

@media screen and (min-width: 768px) {
    .box {
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 177px;
        right: 177px;
        max-width: 414px;
    }
}
