<div style="display: none;">
    <img src="./assets/images/share.jpg">
    <span>快来测测你的新年福地，还有惊喜大奖等你赢~</span>
</div>
<router-outlet></router-outlet>
<div style="display: none;">
    <img src="./assets/images/02/bg.jpg">
    <img src="./assets/images/02/flower01.png">
    <img src="./assets/images/02/flower02.png">
    <img src="./assets/images/02/flower03.png">
    <img src="./assets/images/02/flower04.png">
    <img src="./assets/images/02/sun.png">
    <img src="./assets/images/02/lucky_draw.png">
    <img src="./assets/images/02/tag.png">
    <img src="./assets/images/02/lucky_draw.gif">
    <img src="./assets/images/02/mountain.png">

    <img src="./assets/images/03/bg.jpg">
    <img src="./assets/images/03/pic01.jpg">
    <img src="./assets/images/03/pic02.jpg">
    <img src="./assets/images/03/pic03.jpg">
    <img src="./assets/images/03/pic04.jpg">
    <img src="./assets/images/03/pic05.jpg">
    <img src="./assets/images/03/fudai.png">
    <img src="./assets/images/03/paper_crane.png">

    <img src="./assets/images/03/text01.png">
    <img src="./assets/images/03/text02.png">
    <img src="./assets/images/03/text03.png">
    <img src="./assets/images/03/text04.png">
    <img src="./assets/images/03/text05.png">

    <img src="./assets/images/04/sun.png">
    <img src="./assets/images/04/fudai.gif">
    <img src="./assets/images/04/mountain.png">
    <audio id="bgMusic" preload="auto" src="./assets/images/5018.wav" style="display: none"></audio>
</div>
