@import "~weui/dist/style/weui.css";
@import "./assets/scss/util.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu !important;
}

img {
    display: block;
    max-width: 100%;
}

.wap-wrap {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #921F24;
}

@media screen and (min-width: 768px) {
    .wap-wrap {
        width: 768px;
        height: 1024px;
        margin: 0 auto;
    }
}

.store-picker {
    height: 100%;

    .weui-input {
        height: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
    }

    .weui-input::-webkit-input-placeholder {
        color: #ffffff;
    }
}

.weui-picker__item {
    font-size: 16px;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.weui-animate-slide-in-right {
    animation: slideInRight ease .3s forwards;
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(100%, 0, 0);
    }
}

.weui-animate-slide-out-right {
    animation: slideOutRight ease .3s forwards;
}
